<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/HashTable, HashMap and related/src/HashTable/MyHashtableOperations.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="HashTable.MyHashtableOperations"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="HashTable, HashMap and related"/>
</launchConfiguration>
